<% if notice.present? %>
  <div class="alert alert-success alert-styled-left alert-arrow-left alert-bordered">
    <button type="button" class="close" data-dismiss="alert"><span>&times;</span><span class="sr-only">Close</span></button>
    <span class="text-semibold"><%= notice %></span>
  </div>
<% end %>

<div class="panel panel-flat">
  <div class="panel-heading">


    <div class="col-md-9">
      <h2 class="panel-title">Công ty</h2>
    </div>
    <div class="col-md-3">
      <%= link_to 'Tạo mới', new_admin_congty_path , class: 'btn btn-primary btn-lg', id: 'new'%>
    </div>
  </div>
  <table class="table datatable-basic table-bordered">
    <thead>
    <tr>
      <th>Tên công ty</th>
      <th class="text-center">Actions</th>
    </tr>
    </thead>
    <tbody>
    <% @congties.each do |congty| %>
      <tr>
        <td><%= congty.tencongty %></td>
        <td class="text-center">
          <ul class="icons-list">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <i class="icon-menu9"></i>
              </a>

              <ul class="dropdown-menu dropdown-menu-right">
<!--                <li><%#= link_to 'Show', [:admin, congty] %></li>-->
                <li><%= link_to 'Edit', edit_admin_congty_path(congty)  %></li>
                <li><%= link_to 'Destroy', [:admin, congty], method: :delete, data: { confirm: 'Are you sure?' } %></li>
              </ul>
            </li>
          </ul>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
