<%= form_with(model: vitricongviec, local: true) do |form| %>
  <% if vitricongviec.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vitricongviec.errors.count, "error") %> prohibited this vitricongviec from being saved:</h2>

      <ul>
      <% vitricongviec.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tenvitri %>
    <%= form.text_field :tenvitri, id: :vitricongviec_tenvitri %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
