        <tr>
          <td class="text-center"><%= thongtincongviec_counter + 1%></td>
          <td class="text-center">
          <%= link_to 'Show', thongtincongviec %>
          </td>
          <td><%= thongtincongviec.tencongviec %></td>
          <td><%= thongtincongviec.congty.tencongty %></td>
          <td><%= thongtincongviec.vitricongviec.tenvitri %></td>
          <td><%= thongtincongviec.diadiem.tendiadiem %></td>
          <td><%= thongtincongviec.thoihannophoso %></td>
          <td><%= thongtincongviec.thongtinvitri %></td>
        </tr>