<!-- page content wrapper -->
<div class="page-content-wrap">
  <!-- page content holder -->
  <div class="page-content-holder">

    <div class="panel panel-flat">
      <div class="panel-heading">
        <h5 class="panel-title">Danh sách tuyển dụng</h5>

        <%= form_with url: thongtincongviecs_path, method: :get, class: "form-horizontal" do |form| %>
          <fieldset class="content-group">
          <div class="form-group">
            <%= form.label :congty_id , "Công ty",class: "control-label col-lg-2"%>
            <div class="col-lg-10">
            <%= form.collection_select :congty_id, Congty.all, :id, :tencongty, {prompt: true}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
          <%= form.label :diadiem_id , "Địa điểm",class: "control-label col-lg-2"%>
            <div class="col-lg-10">
          <%= form.collection_select :diadiem_id, Diadiem.all, :id, :tendiadiem, {prompt: true}, {class: "form-control"} %>
            </div>
          </div>
          <div class="form-group">
          <%= form.label :vitricongviec_id , "Vị trí công việc",class: "control-label col-lg-2"%>
            <div class="col-lg-10">
          <%= form.collection_select :vitricongviec_id, Vitricongviec.all, :id, :tenvitri, {prompt: true}, {class: "form-control"} %>
            </div>
          </div>
          </fieldset>
          <%= button_tag(type: 'submit', class: "btn btn-info ") do %>
            <i class="icon-search4"></i> <span>Search</span>
          <% end %>

        <% end %>
      </div>

      <table class="table datatable-basic table-bordered">
        <thead>
        <tr>
          <th class="text-center">STT</th>
          <th class="text-center">Actions</th>
          <th>Tên công việc</th>
          <th>Công ty</th>
          <th>Vị trí công việc</th>
          <th>Địa điểm</th>
          <th>Thời hạn nộp hồ sơ</th>
          <th>Thông tin vị trí</th>
        </tr>
        </thead>
        <tbody id="thongtincongviecs">
        <%# @thongtincongviecs.each do |thongtincongviec| %>
<!--        <tr>-->
<!--          <td class="text-center">-->
            <%#= link_to 'Show', thongtincongviec %>
<!--          </td>-->
<!--          <td><%#= thongtincongviec.tencongviec %></td>-->
<!--          <td><%#= thongtincongviec.congty.tencongty %></td>-->
<!--          <td><%#= thongtincongviec.vitricongviec.tenvitri %></td>-->
<!--          <td><%#= thongtincongviec.diadiem.tendiadiem %></td>-->
<!--          <td><%#= thongtincongviec.thoihannophoso %></td>-->
<!--          <td><%#= thongtincongviec.thongtinvitri %></td>-->
<!--        </tr>-->
        <%# end %>

        <%= render @thongtincongviecs %>
        </tbody>
      </table>
    </div>
  </div>
  <!-- ./page content holder -->
</div>
<!-- ./page content wrapper -->



