<p id="notice"><%= notice %></p>

<p>
  <strong>Tencongviec:</strong>
  <%= @thongtincongviec.tencongviec %>
</p>

<p>
  <strong>Congty:</strong>
  <%= @thongtincongviec.congty.tencongty %>
</p>

<p>
  <strong>Vitricongviec:</strong>
  <%= @thongtincongviec.vitricongviec.tenvitri %>
</p>

<p>
  <strong>Diadiem:</strong>
  <%= @thongtincongviec.diadiem.tendiadiem %>
</p>

<p>
  <strong>Sohoso:</strong>
  <%= @thongtincongviec.sohoso %>
</p>

<p>
  <strong>Mavitri:</strong>
  <%= @thongtincongviec.mavitri %>
</p>

<p>
  <strong>Thoihannophoso:</strong>
  <%= @thongtincongviec.thoihannophoso %>
</p>

<p>
  <strong>Thongtinvitri:</strong>
  <%= @thongtincongviec.thongtinvitri %>
</p>

<p>
  <strong>Mota:</strong>
  <%= @thongtincongviec.mota %>
</p>

<p>
  <strong>Yeucau:</strong>
  <%= @thongtincongviec.yeucau %>
</p>

<p>
  <strong>Chedoluong:</strong>
  <%= @thongtincongviec.chedoluong %>
</p>

<%= link_to 'Edit', edit_thongtincongviec_path(@thongtincongviec) %> |
<%= link_to 'Back', thongtincongviecs_path %>
