<%= form_with(model: thongtincanhan, local: true, class: "form-horizontal") do |form| %>
  <% if thongtincanhan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(thongtincanhan.errors.count, "error") %> prohibited this thongtincanhan from being saved:</h2>

      <ul>
      <% thongtincanhan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <fieldset class="panel-body pb-10">
    <div class="field">
    <h6 class="text-semibold content-group">Thông tin cá nhân</h6>
    </div>
    <div class="field">
    <%= form.label :hovaten, class: "control-label" do %>
      Họ và tên
      <span class="text-danger">*</span>
      <% end %>
    <%= form.text_field :hovaten, id: :thongtincanhan_hovaten, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= form.label :sodienthoai, class: "control-label" do %>
        Số điện thoại
        <span class="text-danger">*</span>
      <% end %>
      <%= form.text_field :sodienthoai, id: :thongtincanhan_sodienthoai, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= form.label :email, class: "control-label" do %>
        Email
        <span class="text-danger">*</span>
      <% end %>
      <%= form.text_field :email, id: :thongtincanhan_email, class: "form-control", required: true %>
    </div>
    <div class="field">
      <%= form.label :filedinhkem, class: "control-label display-block" do %>
        File CV
        <span class="text-danger">*</span>
      <% end %>
      <%= form.file_field :filedinhkem, id: :thongtincanhan_filedinhkem, class: "form-control", required: true%>
    </div>
    <%= form.hidden_field :thongtincongviec_id, value: @thongtincongviec.id %>
    <%= form.hidden_field :vitricongviec_id, value: @thongtincongviec.vitricongviec_id %>

  </fieldset>
  <div class="actions text-right">
    <%= form.submit 'Gửi hồ sơ', class: 'btn btn-primary'%>
  </div>
<% end %>
