<p id="notice"><%= notice %></p>

<p>
  <strong>Thongtincongviec:</strong>
  <%= @thongtincanhan.thongtincongviec_id %>
</p>

<p>
  <strong>Hovaten:</strong>
  <%= @thongtincanhan.hovaten %>
</p>

<p>
  <strong>Sodienthoai:</strong>
  <%= @thongtincanhan.sodienthoai %>
</p>

<p>
  <strong>Email:</strong>
  <%= @thongtincanhan.email %>
</p>

<p>
  <strong>Vitricongviec:</strong>
  <%= @thongtincanhan.vitricongviec_id %>
</p>

<p>
  <strong>Filedinhkem:</strong>
  <%= @thongtincanhan.filedinhkem %>
</p>

<%= link_to 'Edit', edit_thongtincanhan_path(@thongtincanhan) %> |
<%= link_to 'Back', thongtincanhans_path %>
